#Title {
    font-size: 20px;
    margin: auto;
}

/*Needs Modification: margin: auto doesn't work*/
/*Resize border maybe?*/
.threeButtons {
    width:44%;
    margin-left: 41%;
    margin-right: 25%;
}
